:root {
  --primary-color: maroon;
  --secondary-color: blueviolet;
  --tertiary-color: rgb(24, 140, 190);
  --primary-bg-color: cornflowerblue;
  --secondary-bg-color: aquamarine;
  --tertiary-bg-color: bisque;
  --input-bg-color: whitesmoke;
}

body {
  font-family: "Comic Sans MS", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
}

section {
  width: 90%;
  height: 100vh;
  background-color: var(--secondary-bg-color);
  margin: 0 auto;
}

.title {
  text-align: center;
  /* font-size: 1.5rem; */
  padding: 20px;
  margin-top: 25px;
  line-height: 2;
  /* padding-top: 7%; */
}

.title h1 {
  color: var(--primary-color);
  /* margin-bottom: 35px; */
  margin: 0;
  font-size: 2rem;
}

.container {
  background-color: var(--tertiary-bg-color);
  width: 90%;
  height: auto;
  margin: 0 auto;
  /* padding: 25px; */
  border-radius: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input[type="number"] {
  width: 230px;
  padding: 20px;
  font-size: 1.4rem;
  background-color: var(--input-bg-color);
  border-radius: 12px;
  text-align: left;
  color: var(--secondary-color);
}

input {
  width: 275px;
  padding: 20px;
  font-size: 1.4rem;
  background-color: var(--tertiary-color);
  color: var(--input-bg-color);
  border-radius: 12px;
}

label {
  font-size: 1.9rem;
  color: var(--primary-color);
  padding: 20px;
}

.resultParas {
  font-size: 1.1rem;
  color: var(--secondary-color);
}

.lastResult {
  color: var(--input-bg-color);
  width: 70%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 12px;
  text-align: center;
  margin: 5% auto;
}
.feedback {
  position: relative;
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  /* margin: 7% auto; */
  padding: 0 20px;
}
.guesses {
  position: absolute;
  font-size: 1.3rem;
  /* text-align: left; */
  /* padding-left: 20px; */
}
.lowOrHi {
  position: absolute;
  font-size: 1.3rem;
  /* text-align: left; */
  /* padding-left: 20px; */
  right: 20px;
}

/* Tooltips Starts */

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  padding: 3px 7px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  background-color: rgba(255, 255, 0, 0.7);
  color: blueviolet;
  font-size: 1.2rem;
}

/* Tooltips Ends */
